/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* * wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
Body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-family: "Albert Sans", serif;
}

/*  Header */
header {
    background-color: #AA5042;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
}

#home {
    background: url(../images/faith.webp);
    height: 200px;
    padding: 0 1rem;
    width: 100%;
	background-size: cover;
	background-position: center;
}

h1 {
    font-family: "PT Serif", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #E0E2DB;
}

header a {
    text-decoration: none;
    color: #E0E2DB;
}

#menu {
    /* strangely was not responsive when using a ID for the unordered lis ... I had to target it this way*/
    font-size: 110%;
    letter-spacing: 3px;
    list-style-type: none;
} 
 #menu li {
    margin-bottom: 7px;
 }

 .active {
    border-bottom: 1px solid #343F3E;
}
/*  Main */
main {
    background-color: lightgreen;
    flex: auto;
}

/*  Footer */
footer {
    background-color: lightblue;
}