/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* * wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
Body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-family: "Albert Sans", serif;
}

/*  Header */
header {
    background-color: #AB9BA5;
    /* background: url(../images/faith.webp) no-repeat center center; */
    background: url(../images/jesus.webp) no-repeat center center;
    background-size: cover;
	background-position: center;
    padding: 0 1rem;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
}


h1 {
    font-family: "PT Serif", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
    font-style: italic;
}

header h1 {
    font-size: 300%;
}

header a {
    text-decoration: none;
    color: #ffffff;
}



/*  Main */
main {
    background-color: #E0E2DB;
    flex: auto;
}

/*  Footer */

footer {
    background-color: #AB9BA5;
    background: url(../images/jesus.webp);
    min-height: 70px;
    width: 100%;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 200%;
    padding: 7%;
    color: #ffffff;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {



}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {
   

}