/* * wildcard selector to override default styles added by browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

/* General styles */
Body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000000;
}


/*  Header */
header {
    background-color: lightpink;
}

/*  Main */
main {
    background-color: lightgreen;
    flex: auto;
}

/*  Footer */
footer {
    background-color: lightblue;
}